<!DOCTYPE html>
<html lang="en">
    <head>
        <title>XYZ Books | Add Book</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> 
    </head>
    <body>
        <div class="p-4">
            <a href="/"><h1 class="text-center">XYZ Books</h1></a>
            <hr/>
            <h3 class="text-center">Add a new Book</h3>
            <div class="row p-2">
                <div class="col-8 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                                <div class="table-responsive">
                                    <form action="/books-ui/submit-add-form" method="POST">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td><b>Title<span style="color: red;">*</span></b></td>
                                                    <td>
                                                        <input type="text" class="form-control" id="title" name="title" required maxlength="255">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Author<span style="color: red;">*</span></b></td>
                                                    <td>
                                                        <select class="form-select" multiple aria-label="multiple select" name="author-ids[]" aria-describedby="authorHelp" required>
                                                            {{ range $author := .Authors }}
                                                            <option value="{{$author.ID}}">{{$author.FirstName}} {{$author.MiddleName}} {{$author.LastName}}</option>
                                                            {{ end }}
                                                        </select>
                                                        <div id="authorHelp" class="form-text">You may select multiple authors by CTRL + Click. If the author is not on the list, you may Create a new author</div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary" href="/authors-ui/add-form" role="button"><i class="bi bi-plus-circle-fill"></i>&ensp;Create a new Author</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>ISBN 13<span style="color: red;">*</span></b></td>
                                                    <td>
                                                        <input type="text" class="form-control" id="isbn-13" name="isbn-13" required  minlength="13" maxlength="13">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>ISBN 10<span style="color: red;">*</span></b></td>
                                                    <td>
                                                        <input type="text" class="form-control" id="isbn-10" name="isbn-10" required minlength="10" maxlength="10">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Publication Year<span style="color: red;">*</span></b></td>
                                                    <td>
                                                        <input type="text" class="form-control" id="publication-year" name="publication-year" required maxlength="4">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Publisher Name<span style="color: red;">*</span></b></td>
                                                    <td>
                                                        <select class="form-select" aria-label="select" name="publisher-id" aria-describedby="publisherHelp" required>
                                                            {{ range $publisher := .Publishers }}
                                                            <option value="{{$publisher.ID}}">{{$publisher.Name}}</option>
                                                            {{ end }}
                                                        </select>
                                                        <div id="publisherHelp" class="form-text">If the publisher is not on the list, you may Create a new publisher</div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary" href="/publishers-ui/add-form" role="button"><i class="bi bi-plus-circle-fill"></i>&ensp;Create a new Publisher</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Edition</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="edition" name="edition" maxlength="255">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>List Price<span style="color: red;">*</span></td>
                                                    <td>
                                                        <input type="number" class="form-control" id="list-price" name="list-price">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Image URL</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="image-url" name="image-url" maxlength="255">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </body>
</html>