<!DOCTYPE html>
<html lang="en">
    <head>
        <title>XYZ Books CRUD UI | Publishers</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> 
    </head>
    <body>
        <div class="p-4">
            <div class="row">
                <a href="/"><h1 class="text-center">XYZ Books CRUD UI</h1></a>
                <hr/>
                <h3 class="text-center">Publishers</h3>
                <form action="/publishers/ui">
                    <div class="row">
                        <div class="col-7">
                            <div class="row">
                                <div class="col-2">
                                    <a class="btn btn-success" href="/" role="button">Go to books</a>
                                </div>
                                <div class="col-3">
                                    <a class="btn btn-success" href="/publishers/ui" role="button">Show all publishers</a>
                                </div>
                                <div class="col-3">
                                    <a class="btn btn-primary" href="/publishers/ui/add-form" role="button"><i class="bi bi-plus-circle-fill"></i>&ensp;Add a Publisher</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" id="keyword" name="keyword" required maxlength="255" placeholder="Search a Publisher">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i>&ensp;Search</button>
                        </div>
                        
                    </div>
                </form>
            </div>
            <br/>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Actions</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $publisher := .Publishers }}
                            <tr>
                                <td>{{$publisher.ID}}</td>
                                <td>
                                    <a href="/publishers/ui/view/{{$publisher.ID}}"><i class="bi bi-eye-fill"></i></a>
                                    &nbsp;
                                    <a href="/publishers/ui/update-form/{{$publisher.ID}}"><i class="bi bi-pencil-fill"></a></i>
                                    &nbsp;
                                    <a href="/publishers/ui/delete/{{$publisher.ID}}"><i class="bi bi-trash-fill"></a></i>
                                </td>
                                <td>{{$publisher.Name}}</td>
                            </tr>
                            {{ else }}
                            <tr>
                                <td colspan="11">No record found</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
            {{ if gt .MaxPageNumber 0 }}
                <div class="row justify-content-center">
                    <div class="col-3">
                        <nav>
                            <ul class="pagination">
                                {{ if le .CurrentPage .CountShownPageNumber }}
                                    <li class="page-item disabled">
                                {{ else }}
                                    <li class="page-item">
                                {{ end }}
                                    <a class="page-link" href="/publishers/ui?keyword={{ .Keyword }}&page={{ .PreviousPageNumber }}">Previous</a>
                                </li>
                                {{ range $pageNumber := .PageNumbers }}
                                    {{ if eq $pageNumber $.CurrentPage }}
                                        <li class="page-item active">
                                    {{ else }}
                                        <li class="page-item">
                                    {{ end }}
                                        <a class="page-link" href="/publishers/ui?keyword={{ $.Keyword }}&page={{ $pageNumber }}">{{ $pageNumber }}</a>
                                    </li>
                                {{ end }}
                                {{ if .IsNextEnabled }}
                                    <li class="page-item">
                                {{ else }}
                                    <li class="page-item disabled">
                                {{ end }}
                                    <a class="page-link" href="/publishers/ui?keyword={{ .Keyword }}&page={{ .NextPageNumber }}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            {{ end }}
        </div>
    </body>
</html>

